<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.batch.spring.batch.mapper.SingleMailMapper">

    <sql id="mail_server_sql">
        index, nt_account, exc_case_id, status, sendmailtime, email_address
    </sql>
    
    <select id="getMailList" resultMap="listMap">
        SELECT <include refid="mail_server_sql"/> FROM mail_server WHERE status = 0
    </select>
    
    <resultMap id="listMap" type="com.batch.spring.batch.Pojo.MailIInfoEntity">
        <id property="index" column="index"/>
        <result column="nt_account" property="ntAccount"/>
        <result column="exc_case_id" property="excCaseId"/>
        <result column="status" property="status"/>
        <result column="sendmailtime" property="sendMailTime"/>
        <result column="email_address" property="emailAddress"/>
    </resultMap>

</mapper>