<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.batch.spring.batch.mapper.SingleMailMapper">

    <sql id="mail_sys_sql">
        id, sender_address, recipient_address, subject, content, state, email_sent, sending_date
    </sql>
    
    <select id="getMailList" resultMap="listMap">
        SELECT <include refid="mail_sys_sql"/> FROM mail_sys WHERE state = 1
    </select>
    
    <resultMap id="listMap" type="com.batch.spring.batch.Pojo.MailIInfoEntity">
        <id property="id" column="id"/>
        <result column="sender_address" property="senderAddress"/>
        <result column="recipient_address" property="recipientAddress"/>
        <result column="email_sent" property="emailSent"/>
        <result column="sending_date" property="sendingDate"/>
    </resultMap>

</mapper>